.E3 {
    border: groove royalblue 1px;
    margin-top: 20px;
    padding: 25px;
}

.E3 h4{
    color: royalblue;
    text-decoration: none;
}
.prevS{
    float:left;
    width:50%;
}

.s{
    float:right;
    width:50%;
}