.FinalEmissionMsg{
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid grey;
}

.FinalEmissionMsg h3{
    color: grey;
    padding: 10px;
    text-decoration: none;
}
.FinalEmissionMsg h2{
    color: grey
}

