.FinalEmissionMsg{
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
}

.FinalEmissionMsg h3{
    color: black;
    padding: 10px;
}
.FinalEmissionMsg h3{
    text-decoration: none;
}