.Intro{
    height:100vh;
    width:102%;
    margin-top: -50px;
    /*background: linear-gradient(45deg, rgba(65, 68, 231, 0.6), rgba(231, 230, 241, 0.6)), url("../../assets/images/beach_dock.jpg");*/
    background-image:url("../../assets/images/dark-paths.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    z-index: 100;
    position: relative;
    /* Add the blur effect */
    filter: blur(0.5px);
    -webkit-filter: blur(0.5px);
}

.Intro h1{
    padding-top:40px;
    text-decoration: underline;
    color:white;
    text-align: center;
    vertical-align: center;
    line-height: 400px;
    font-size: 3em;
    

}

.Intro p{
    color:white;
    font-size: 1.5em;
}