
.IntroNavItems {
    color: white !important;
    
}

.IntroNavItems ul {
    list-style:none;
}

.IntroNavItems h1{
    
}
.IntroNavItems ul li{
    color: white;
    
    display: inline-block;
    width: 17%;
    text-decoration: none !important;
    
}

.IntroNavItems .NavLink{
    position: absolute;
    
    width:100%;
    

}