.E2{
    border: 1px solid lightgreen;
    margin-top: 20px;
}

.prevS{
    float:left;
    width:50%;
}

.s{
    float:right;
    width:50%;
}

.E2 h2{
    color: lightgreen;
}

.E h3{
    color: black; 
    text-decoration: none;
}