.ArithmeticCodec {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin-top: 73px;
}

.ArithmeticAlgorithm {
  width: 85%;
  height: 100%;
  padding: 20px;
  margin: 0 auto;
}

.ArithmeticCodec h1 {
  padding: 50px;
  overflow-wrap: break-word;
  text-decoration: underline;
  color: pink;
}
.ArithmeticCodec h3 {
  padding: 10px;
  overflow-wrap: break-word;
  text-decoration: underline;
  color: pink;
}
