.ResourcePage{
    padding-top: 100px;
}

.ResourcePage ul{
   list-style: none;
}

.ResourceList{
    padding-top: 100px;
}

.ResourceList ul{
   list-style: none;
}

.DemoList{
    padding-top: 100px;
}

.DemoList ul{
   list-style: none;
}
