.Button {
    background-color: transparent;
    border: solid #ff6161;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    border-radius: 0.4rem;
    font-weight: bold;
    opacity: 0.6;
    margin-bottom: 40px;
}

.Button:hover {
    opacity: 0.3;
}

.Success {
    color: #ff6161;
}

.Danger {
    color: #944317;
}