.E1 {
    border: groove  rgb(188, 252, 62) 1px;
    margin-top: 20px;
    padding: 30px;
}

.E1 h4{
    color:yellowgreen;
    margin-bottom: 20px;
    text-decoration: none;
}
.prevS{
    float:left;
    width:50%;
}

.s{
    float:right;
    width:50%;
}