.ArithmeticCodecUpdateMsg{
    border: 2px solid lightskyblue;
    padding: 26px;
    margin-bottom: 20px;
}
.ArithmeticCodecUpdateMsg h2{
    color: pink;
    text-decoration: underline;
}

.ArithmeticCodecUpdateMsg h3{
    color: blue;
    text-decoration: none;
}
